<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
<section class="header">
    <div class="contacts">
        <a>Email: Benedikt.Vitek@gmail.com</a>
        <a>Phone number: +420 605 551 650</a>
        <a href="https://www.linkedin.com/in/benedikt-v%C3%ADtek-45a86014a/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Herrsir" target="_blank">GitHub</a>
    </div>
    <div class="links">
        <a id="header-about-me-button" target="" rel="" href="">About me</a>
        <a id="header-skills-button" target="" rel="" href="">skills</a>
        <a id="header-about-site-button" target="" rel="" href="">About this site</a>
        <a id="header-showcase-button" target="" rel="" href="">Skill showcase</a>
        <a href="https://github.com/Herrsir/benedikt-vitek-space/raw/main/src/main/resources/static/Benedikt%20Vitek%20CV.pdf"
           target="__blank" rel="noopener noreferrer" style="border-radius: 10px; border: solid wheat; padding: 5px">Get
            resume</a>
    </div>


</section>
<div class="intro-area">
    <div class="intro-container">
        <div class="intro-text">
            <p>Hello! My name is</p>
            <h1>Benedikt Vítek</h1>
            <p>and I am</p>
            <h2>Junior Java backend developer</h2>
            <a href="https://github.com/Herrsir/benedikt-vitek-space/raw/main/src/main/resources/static/Benedikt%20Vitek%20CV.pdf"
               target="__blank" rel="noopener noreferrer"
               class="btn">Get Resume</a>
            <a id="about-me-btn"
               target="" rel="" class="btn" href="">About Me</a>
        </div>
        <div class="intro-photo">
            <img id="my-photo" src="/me.jpg" alt="Benedikt Vitek">
        </div>
    </div>
</div>
<div class="about-me-area" id="about-me-area">
    <div class="about-me-container">
        <div class="about-me-text">
            <h2>About me</h2>
            <p> In the first half of the year 2023, I made one of the biggest decisions of my life. I quit a job that I
                expected to do for the rest of my life. I realized my passion lies elsewhere, in problem-solving, in
                creating, in learning. That is how I started to learn coding. At first, by myself, completing online
                courses and making my own little projects. After that, I enrolled in a 5-month long super-intensive Java
                backend course. And thanks to that, I am now able to show you some of my skills here! So feel
                free to check the rest of this site and try some of the features I have implemented. </p>
            <a id="my-skills-btn"
               target="" rel="" class="btn" href="">Skills</a>
        </div>
    </div>
</div>

<div id="my-skills-area" class="my-skills-area">

    <div class="my-skills-container">

        <h1>Skills</h1>
        <div class="skill-buttons">
            <button class="category-button" id="java-button" role="button" style="background: #7d6981">Java
                Development
            </button>
            <button class="category-button" id="web-button" role="button">Web Technologies</button>
            <button class="category-button" id="others-button" role="button">Others</button>
        </div>

        <div class="skills">

            <div class="skills-java">
                <div class="card">
                    <h3>Java</h3>
                </div>
                <div class="card">
                    <h3>Spring Boot</h3>
                </div>
                <div class="card">
                    <h3>Spring Security</h3>
                </div>
                <div class="card">
                    <h3>MVC Architecture</h3>
                </div>
                <div class="card">
                    <h3>Hibernate</h3>
                </div>
                <div class="card">
                    <h3>Rest API</h3>
                </div>
            </div>

            <div class="skills-web">
                <div class="card" style="display: none">
                    <h3>HTML</h3>
                </div>
                <div class="card" style="display: none">
                    <h3>CSS</h3>
                </div>
                <div class="card" style="display: none">
                    <h3>JavaScript</h3>
                </div>
                <div class="card" style="display: none">
                    <h3>Thymeleaf</h3>
                </div>
            </div>

            <div class="skills-others">
                <div class="card" style="display: none">
                    <h3>Gradle</h3>
                </div>
                <div class="card" style="display: none">
                    <h3>Docker</h3>
                </div>
                <div class="card" style="display: none">
                    <h3>Junit</h3>
                </div>
                <div class="card" style="display: none">
                    <h3>SQL</h3>
                </div>
            </div>
            <a id="about-site-btn" style="margin-top: 20px"
               target="" rel="" class="btn" href="">About this site</a>

        </div>
    </div>

</div>

<div id="about-site-area" class="about-site-area">
    <div class="about-site-container">
        <div class="about-site-text">
            <h2>About this site</h2>
            <p>Welcome to my showcase, where I demonstrate my proficiency in Java through interactive sections highlighting various skills. Here's a breakdown of what you'll find:</p>

            <p>Section 1 - Web scraping: Explore the top 10 most-watched movies on Netflix obtained through web scraping. Titles are encoded for use in the following section.</p>

            <p>Section 2 - Using third party APIs: Discover movie information sourced from TMDB APIs, including ratings and direct links to each movie on TMDB.</p>

            <p>Section 3 - Spring security: Experience the functionality of user login and registration. Password strength is intentionally not enforced for easy testing. Registering a user creates a user entity stored in the database.</p>

            <p>Section 4 - Relational database: Add comments as an anonymous user or under your registered user profile. This establishes a relationship between user and comment entities, saving the comments in the database.</p>

            <p>Section 5 - Building APIs: Explore comments made on this site. Each response is crafted using DTOs, and the response format is in JSON.</p>

            <p>Feel free to navigate through these sections to witness firsthand the practical application of my Java skills. Don't hesitate to provide feedback or explore my GitHub and my resume for a comprehensive view of my projects and expertise.</p>
        </div>
    </div>
</div>

<div class="showcase-area" id="showcase-area">
    <h1 style=" margin-top: 20%; font-size: xxx-large; margin-left: 40%; padding-top: 10%">Skill showcase</h1>

    <div class="showcase-container">
        <div class="scraped-movies">
            <div class="module-title">
                <h2>Web scraping</h2>
            </div>
            <ol>
                <li th:each="el : ${movieList}" th:text="${el.title()}"></li>
            </ol>
        </div>
        <div class="tmdb-info">
            <div class="module-title">
                <h2>Using third party APIs</h2>
            </div>
            <ol style="padding-left: 5px">

                <li th:each="el, stat : ${movieList}" style="display: flex">
                    <span th:text="${stat.index + 1 + '. '}" style="margin-right: 1rem;"></span>
                    <p th:text="'Rating: ' + ${el.vote_average()}"
                       style=" margin-top: 0;margin-right: 1rem; margin-bottom: 3px;"></p>
                    <a th:href="'https://www.themoviedb.org/movie/' + ${el.id()}" target="_blank"
                       th:text="'Visit here'" style="margin-right: 5%; text-decoration: none; color: gold"></a>
                </li>
            </ol>
        </div>
        <div class="users">
            <div class="module-title">
                <h2>Spring security</h2>
            </div>
            <div class="login-form">
                <div th:unless="${#authentication.name eq 'anonymousUser'}" class="login">
                    <a th:href="@{/logout} " class="btn">Logout</a>
                </div>
                <div th:if="${#authentication.name eq 'anonymousUser'}" class="login">
                    <form id="loginForm" method="post" th:action="@{/login}" autocomplete="off">
                        <label for="loginUsername">Username:</label>
                        <input class="input" type="text" id="loginUsername" th:name="username" required>

                        <label for="loginPassword">Password:</label>
                        <input class="input" type="password" id="loginPassword" th:name="password" required>
                        <p id="login-failed" th:if="${loginFailed != null}" th:text="${loginFailed}"
                           style="color: red"></p>

                        <button class="form-button">Login</button>
                    </form>


                </div>
                <div class="register">
                    <form id="register-form" method="post" th:action="@{/register}">
                        <label for="registerUsername">Username:</label>
                        <input class="input" type="text" id="registerUsername" th:name="username" required>

                        <label for="registerPassword">Password:</label>
                        <input class="input" type="password" id="registerPassword" th:name="password" required>
                        <p th:if="${registerFailed != null}" th:text="${registerFailed}" style="color: red"></p>

                        <label for="passwordCheck"> Confirm password: </label>
                        <input class="input" type="password" id="passwordCheck" required>

                        <button onclick="checkFields()" class="form-button">Register</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="module-title">
                <h2>Relational database</h2>
            </div>
            <form id="comment-section" method="post" th:action="@{/add-comment}">
                <label for="comment">Comment: </label>
                <textarea id="comment" th:name="comment" required maxlength="140" autocomplete="off"></textarea>
                <button class="form-button">Send</button>
            </form>
            <p th:if="${#authentication.name eq 'anonymousUser'}" th:text="'Commenting as Anonymous'"
               style="padding: 20%;font-size: large;"></p>
            <p th:unless="${#authentication.name eq 'anonymousUser'}"
               th:text="'Commenting as ' + ${#authentication.name}"
               style="padding: 20%;font-size: large;"></p>
        </div>
        <div class="API">
            <div class="module-title">
                <h2>Building APIs</h2>
            </div>
            <div id="APIs">
                <form id="allAuthors" method="get" th:action="@{/api/comments/all}" target="_blank">
                    <button class="form-button">Show all comments</button>
                </form>

                <form id="todayPosts" method="get" target="_blank" th:action="@{/api/comments/today}">
                    <button class="form-button">Show comments from today</button>
                </form>

                <form id="oneAuthorForm" method="get" target="_blank">
                    <label for="commentAuthor" style="margin-left: 10px">Author:</label>
                    <input class="input" type="text" id="commentAuthor" autocomplete="off"/>
                    <button onclick="submitByAuthorForm()" class="form-button">Find by author</button>
                </form>

                <form id="byIdForm" method="get" target="_blank">
                    <label for="commentId" style="margin-left: 10px">ID:</label>
                    <input class="input" type="text" id="commentId" min="1" autocomplete="off"/>
                    <button onclick="submitByIdForm()" class="form-button">Find by ID</button>
                </form>
            </div>
        </div>
    </div>


</div>

</body>
</html>