<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/scripts/index.js"></script>
</head>
<body>

<h1 th:text="'Hello ' + ${#authentication.getName()}"></h1>

<ol>
    <li th:each="el : ${movieList}">
        <a th:href="'https://www.themoviedb.org/movie/' + ${el.id()}"
           th:text="${el.title()} + ' Rating: ' + ${el.vote_average()}"></a>
    </li>
</ol>

<ol>
    <li th:each="el : ${movieList}" th:text="${el.title()}"></li>
</ol>

<form id="comment-section" method="post" th:action="@{/add-comment}">
    <label for="comment">Comment: </label>
    <textarea id="comment" th:name="comment" required maxlength="140" autocomplete="off"></textarea>
    <label for="author">Author: </label>
    <input id="author" type="text" th:name="author" required maxlength="20" autocomplete="off">
    <button>Send</button>
</form>

<div id="APIs">
    <form id="allAuthors" method="get" th:action="@{/api/comments/all}" target="_blank">
        <button>All comments</button>
    </form>

    <form id="todayPosts" method="get" target="_blank" th:action="@{/api/comments/today}">
        <button>Show posts from today</button>
    </form>

    <form id="oneAuthorForm" method="get" target="_blank">
        <label for="commentAuthor">Author:</label>
        <input type="text" id="commentAuthor" autocomplete="off"/>
        <button onclick="submitByAuthorForm()">Submit</button>
    </form>

    <form id="byIdForm" method="get" target="_blank">
        <label for="commentId">ID:</label>
        <input type="text" id="commentId" min="1" autocomplete="off"/>
        <button onclick="submitByIdForm()">ID submit</button>
    </form>
</div>

<div id="loggingIn">
    <div th:unless="${#authentication.name eq 'anonymousUser'}">
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div th:if="${#authentication.name eq 'anonymousUser'}">
        <form id="loginForm" method="post" th:action="@{/login}">
            <label for="loginUsername">Username:</label>
            <input type="text" id="loginUsername" th:name="username" required>

            <label for="loginPassword">Password:</label>
            <input type="password" id="loginPassword" th:name="password" required>
            <p th:if="${loginFailed != null}" th:text="${loginFailed}" style="color: red"></p>

            <button>Login</button>
        </form>

        <form id="registerForm" method="post" th:action="@{/register}">
            <label for="registerUsername">Username</label>
            <input type="text" id="registerUsername" th:name="username">

            <label for="registerPassword">Password:</label>
            <input type="password" id="registerPassword" th:name="password" required>
            <p th:if="${registerFailed != null}" th:text="${registerFailed}" style="color: red"></p>

            <label for="passwordCheck"> Repeat password </label>
            <input type="password" id="passwordCheck" required>

            <button onclick="checkFields()">Register</button>

        </form>
    </div>

</div>


</body>
</html>