@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Roboto+Condensed:wght@700&family=Roboto+Mono&family=Sen:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #240972 0%, #343eb1 100%);
    min-height: 100vh;
    word-break: break-word;
    font-family: 'Bebas Neue', sans-serif;
}

.header {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: wheat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contacts {
    flex-direction: column;
    margin-left: 5%;
    font-size: medium;
    align-items: unset;
    display: flex;
}

.header a {
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
}

.intro-area {
    min-height: 100vh;
    display: flex;
}

.intro-container {
    position: absolute;
    top: 35%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.intro-text {
    font-size: larger;
    padding-left: 20%;
    position: relative;
    margin-left: 25%;
    width: fit-content;
    color: wheat;
    min-width: 30vh;
    height: fit-content;
}

.intro-photo {
    width: fit-content;
    height: 50%;
    place-items: center;
    margin-left: 5%;
}

#my-photo {
    width: 90%;
    height: 90%;
    border: solid grey 10px;
    border-radius: 20px;
    filter: grayscale(100%);
}

#my-photo:hover {
    width: 95%;
    height: 95%;
    filter: grayscale(0%);
    border: solid black 10px;
    transition-duration: 1s;

}

.about-me-area {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.about-me-container {
    width: 100%;
    height: 35vh;
    align-items: center;
    display: flex;
}

.about-me-text {
    text-align: justify;
    font-size: x-large;
    position: relative;
    margin-left: 20%;
    margin-right: 25%;
    width: 75%;
    height: 100%;
    color: wheat;
}

.about-site-area {
    min-height: 100vh;
    display: flex;
    align-items: center;
    height: fit-content;
}

.about-site-container {
    margin-top: 10vh;
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
}

.about-site-text {
    text-align: justify;
    font-size: x-large;
    position: relative;
    margin-left: 10%;
    margin-right: 15%;
    width: 75%;
    height: 100%;
    color: black;
}

.my-skills-area {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.my-skills-container {
    width: 100%;
    height: 35vh;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    color: wheat;
    font-size: x-large;
}

.skills-java {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skills-web {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skills-others {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skill-buttons {
    margin-bottom: 15px;
}

.card {
    display: flex;
    box-sizing: border-box;
    border: 4px solid wheat;
    align-items: center;
    justify-content: center;
    color: wheat;
    background-color: black;
}

.showcase-area {
    min-height: 100vh;
    display: block;
    align-items: center;
}

.showcase-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    border: 4px solid wheat;
    color: wheat;
    background-color: black;
    border-radius: 10px;

}

.users, .scraped-movies, .tmdb-info, .comments, .API {
    box-sizing: border-box;
    border: 4px solid wheat;
    color: wheat;
    background-color: black;
}

.module-title {
    border-bottom: solid;
    border-radius: 10px;
    justify-content: center;
    display: flex;
}

#comment-section {
    margin-left: 5px;
    margin-top: 10px;
    height: 50%;
}
#comment {
    width: 90%;
    height: 70%;
    resize: none;
}

.login-form, .register {
    padding: 3px;
}

#allAuthors {
    display: flex;
    justify-content: center;
}

#todayPosts {
    display: flex;
    justify-content: center;
}

.btn {
    color:rgba(255, 255, 255, 0.85);
    margin-right: 15px;
    border-color:wheat;
    background-color:black;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 15px 25px;
    border-radius: 4px;
    text-decoration: none;
}

.btn:hover {
    background:wheat;
    color: black;
}


.category-button {
    background-color: black;
    border: 2px solid wheat;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: wheat;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.category-button:hover {
    background-color: #7d6981;
}

.category-button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .category-button {
        min-width: 120px;
        padding: 0 25px;
    }
}

.form-button {
    margin: 5px;
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: wheat;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.form-button:hover,
.form-button:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.form-button:active {
    background: var(--color);
    color: #fff;
}

.input {
    margin-left: 3px;
    border: 2px solid wheat;
    border-radius: 5px;
    height: 5%;
    line-height: normal;
    color: #282828;
    display: block;
    width: 90%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px 0 12px;
}

.input:focus {
    border: 3px solid #5551ff;
}
